doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Twitter
  meta(name='twitter:site' content='@themepixels')
  meta(name='twitter:creator' content='@themepixels')
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:title' content='DashForge')
  meta(name='twitter:description' content='Responsive Bootstrap 4 Dashboard Template')
  meta(name='twitter:image' content='http://themepixels.me/dashforge/img/dashforge-social.png')
  // Facebook
  meta(property='og:url' content='http://themepixels.me/dashforge')
  meta(property='og:title' content='DashForge')
  meta(property='og:description' content='Responsive Bootstrap 4 Dashboard Template')
  meta(property='og:image' content='http://themepixels.me/dashforge/img/dashforge-social.png')
  meta(property='og:image:secure_url' content='http://themepixels.me/dashforge/img/dashforge-social.png')
  meta(property='og:image:type' content='image/png')
  meta(property='og:image:width' content='1200')
  meta(property='og:image:height' content='600')
  // Meta
  meta(name='description' content='Responsive Bootstrap 4 Dashboard Template')
  meta(name='author' content='ThemePixels')
  // Favicon
  link(rel='shortcut icon' type='image/x-icon' href='../../assets/img/favicon.png')
  //title=title
  // vendor css
  link(href='../../lib/@fortawesome/fontawesome-free/css/all.min.css' rel='stylesheet')
  link(href='../../lib/ionicons/css/ionicons.min.css' rel='stylesheet')
  link(href='../../lib/jqvmap/jqvmap.min.css' rel='stylesheet')
  // DashForge CSS
  link(rel='stylesheet' href='../../assets/css/dashforge.css')
  link(rel='stylesheet' href='../../assets/css/dashforge.dashboard.css')
  link(rel='stylesheet' href='../../assets/css/dashforge.profile.css') 
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css') 

body(class=bodytag)
aside.aside.aside-fixed
  .aside-header
    a.aside-logo(href='/administracion')
      | Test
      span APP
    a.aside-menu-link(href="javascript: void(0)")
      i(data-feather='menu')
      i(data-feather='x')
  .aside-body
    .aside-loggedin
      .d-flex.align-items-center.justify-content-start
        a.avatar(href="javascript: void(0)")
          img.rounded-circle(src='https://via.placeholder.com/500' alt='')
        .aside-alert-link
          a.new(href="javascript: void(0)" data-toggle='tooltip' title='You have 2 unread messages')
            i(data-feather='message-square')
          a.new(href="javascript: void(0)" data-toggle='tooltip' title='You have 4 new notifications')
            i(data-feather='bell')
          a#logout(href="javascript: void(0)" data-toggle='tooltip' title='Sign out')
            i(data-feather='log-out')
      .aside-loggedin-user
        a.d-flex.align-items-center.justify-content-between.mg-b-2(href='#loggedinMenu' data-toggle='collapse')
          //h6.tx-semibold.mg-b-0.username
          //i(data-feather='chevron-down')
        p.tx-color-03.tx-12.mg-b-0 Administrator
      //#loggedinMenu.collapse
        ul.nav.nav-aside.mg-b-0
          li.nav-item
            a.nav-link(href='/user/editprofile')
              i(data-feather='edit')
              span Editar Perfil
          li.nav-item
            a.nav-link(href="javascript: void(0)")
              i(data-feather='user')
              span Ver Pefil
          li.nav-item
            a.nav-link(href="javascript: void(0)")
              i(data-feather='settings')
              span Configurar Cuenta
          li.nav-item
            a.nav-link(href="javascript: void(0)")
              i(data-feather='help-circle')
              span Centro de Ayuda
          li.nav-item
            a.nav-link#logout(href="javascript: void(0)")
              i(data-feather='log-out')
              span Salir
    // aside-loggedin
    ul.nav.nav-aside
      li.nav-label Principal 
      //li.nav-item.active  
      li.nav-item(class=(name === "jugadores" ? "active" : undefined))
        a.nav-link(href='/')
          i(data-feather='shopping-bag')
          span Jugadores  
.content.ht-100v.pd-0
  .content-header
    .content-search
      i(data-feather='search')
      input.form-control(type='search' placeholder='Buscar...')
    nav.nav
      a.nav-link(href="javascript: void(0)")
        i(data-feather='help-circle')
      a.nav-link(href="javascript: void(0)")
        i(data-feather='grid')
      a.nav-link(href="javascript: void(0)")
        i(data-feather='align-left')
  // content-header

  .content-body.message-container
      block content

footer.footer
  div
    span &copy; 2020 testAPP v1.0.0
  div 

script(src='../../lib/jquery/jquery.min.js')
script(src='../../lib/bootstrap/js/bootstrap.bundle.min.js')
script(src='../../lib/feather-icons/feather.min.js')
script(src='../../lib/perfect-scrollbar/perfect-scrollbar.min.js') 
script(src='../../lib/jqueryui/jquery-ui.min.js') 
script(src='../../lib/select2/js/select2.min.js')
script(src='../../assets/js/dashforge.js')
script(src='../../assets/js/dashforge.aside.js')  
script(src='../../lib/parsleyjs/parsley.min.js')  
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js')  
script(src='../../assets/js/player.js')
.dynamicScript